/*This is the default css file*/

html   {
    height: 100%;
    margin: 0;
}

body   {
    margin: 0;
    background: linear-gradient(180deg, rgb(223, 217, 203), rgb(183, 194, 197)) fixed;
    height: 100%;
    overflow-anchor: none; /*Stops the browser from altering scroll behaviour*/
    max-width: 800px;
    padding: 10px;
}

p {
    font-size: medium;
    color: rgb(0, 0, 0);
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
    color: rgb(80, 80, 80);
}

h3 {
    font-size: large;
    color: rgb(80, 80, 80);
}

ul {
    list-style-type: "> ";
}

.caption {
    font-size: small;
    font-style: italic;
}

#mainImg {
    max-height: 200px;
    width: auto;
}
