/*This is the default css file*/

p {
    font-size: medium;
    color: rgb(0, 0, 0);
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
    color: rgb(80, 80, 80);
}

h3 {
    font-size: large;
    color: rgb(80, 80, 80);
}

ul {
    list-style-type: "> ";
}

div .heading {
    max-width: 1000px;
}

div .heading p {
    font-size: x-small;
    font-style: italic;
}

div .heading img {
    max-height: 100%;
    width: auto;
}
